.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: #fff;

  /* Center slide content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 200px; /* Fixed height for images */
  object-fit: cover;
}

/* Hide the pagination dots */
.swiper-pagination {
  display: none;
}

/* Initially hide navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease;
}

/* Show navigation buttons when the entire card is hovered */
.group:hover .swiper-button-next,
.group:hover .swiper-button-prev {
  opacity: 1; /* Visible on hover */
}

/* Navigation button styles */
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
  color: #000; /* Button color */
  width: 30px; /* Reduced width */
  height: 30px; /* Reduced height */
  border-radius: 50%; /* Circular button */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px; /* Smaller icon size */
}

.swiper-button-next {
  right: 10px; /* Adjust the position */
}

.swiper-button-prev {
  left: 10px; /* Adjust the position */
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
